In [5]:
even_list = list((2, 4, 6, 8, 10))
print('even_list = ', even_list)

even_list =  [2, 4, 6, 8, 10]

In [75]:
even_list = list(range(2, 11, 2))
print('even_list = ', even_list)

TypeError: 'list' object is not callable

In [11]:
nations = list(('Korea', 'China', 'India', 'Nepal'))
print('nations = ', nations)

nations =  ['korea', 'China', 'India', 'Nepal']

In [12]:
friends = list(('길동', '철수', '은지', '지은', '영미'))
print('friends = ', friends)

friends =  ['길동', '철수', '은지', '지은', '영미']

In [23]:
string = list('XYZ')
print('string = ', string)

==================================================
My program
==================================================

In [30]:
prime_list = [2, 3, 5, 7]
print('prime_list의 첫 원소 : ', prime_list[0])
print('prime_list의 마지막 원소 : ', prime_list[3])
print('prime_list의 마지막 원소 : ', prime_list[-1])

nations = list(('korea', 'China', 'Russia', 'Malaysia'))
print('nations의 첫 원소 : ', nations[0])
print('nations의 마지막 원소 : ', nations[3])
print('nations의 마지막 원소 : ', nations[len(nations) - 1])

prime_list의 첫 원소 :  2
prime_list의 마지막 원소 :  7
prime_list의 마지막 원소 :  7
nations의 첫 원소 :  korea
nations의 마지막 원소 :  Malaysia
nations의 마지막 원소 :  Malaysia

In [37]:
prime_list = [2, 3, 5, 7]
print('소수 목록 : ', prime_list)
prime_list.append(11)
print('추가 후 소수 목록 : ', prime_list)

print('삭제 전 소수 목록 : ', prime_list)
prime_list.remove(3)
print('삭제 후 소수 목록 : ', prime_list)

nations = list(('Korea', 'China', 'Russia', 'Malaysia'))
print('국가 목록 : ', nations)
nations.append('Nepal')
print('추가 후 국가 목록 : ', nations)

if ('Japan' in nations):
    print('Japan는(은) 국가 목록에 있습니다. ')
else:
        print('Japan는(은) 국가 목록에 없습니다. ')
if ('Russia' in nations):
    print('Russia는(은) 국가 목록에 있습니다. ')
else:
        print('Russia는(은) 국가 목록에 없습니다. ')

소수 목록 :  [2, 3, 5, 7]
추가 후 소수 목록 :  [2, 3, 5, 7, 11]
삭제 전 소수 목록 :  [2, 3, 5, 7, 11]
삭제 후 소수 목록 :  [2, 5, 7, 11]
국가 목록 :  ['korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 :  ['korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japan는(은) 국가 목록에 없습니다.
Russia는(은) 국가 목록에 있습니다.

In [50]:
prime_list = [2, 3, 5, 7]
print('1에서 10까지의 소수 : ', prime_list)
print('최솟값 : ', min(prime_list))
print('최댓값 : ', max(prime_list))
print('합계 : ', sum(prime_list))
print('평균 : ', sum(prime_list) / len(prime_list))

nations = list(('Korea', 'China', 'Russia', 'Malaysia'))
print('국가 목록 : ', nations)
print('사전에 가장 먼저 나오는 나라 : ', min(nations))
print('사전에 가장 뒤에 나오는 나라 : ', max(nations))

1에서 10까지의 소수 :  [2, 3, 5, 7]
최솟값 :  2
최댓값 :  7
합계 :  17
평균 :  4.25
국가 목록 :  ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 :  China
사전에 가장 뒤에 나오는 나라 :  Russia

In [51]:
a = [1, 2, 3]
b = [10, 20, 30]
a.append(b)
a

[1, 2, 3, [10, 20, 30]]

In [52]:
a = [1, 2, 3]
b = [10, 20, 30]
a.extend(b)
a

[1, 2, 3, 10, 20, 30]

In [74]:
nlist = list(range(1, 11))
print('nlist = ', nlist)

nlist.insert(0, 0)
print('nlist = ', nlist)

nlist.reverse()
print('nlist = ', nlist)

print('마지막 원소 = ', nlist.pop())
print('nlist = ', nlist)

TypeError: 'list' object is not callable

In [70]:
list = [1, 2, 3]
n = int(input('반복할 정수를 입력하시오 : '))
print(list * n)

반복할 정수를 입력하시오 : 3
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [87]:
n_list = list(range(15))
print('n_list = ', n_list)

s_list1 = n_list[:5]
print('s_list1 = ', s_list1)

s_list2 = n_list[5:11]
print('s_list2 = ', s_list2)

s_list3 = n_list[11:]
print('s_list3 = ', s_list3)

s_list4 = n_list[2:11:2]
print('s_list4 = ', s_list4)

s_list5 = n_list[10:5:-1]
print('s_list5 = ', s_list5)

s_list6 = n_list[10:1:-2]
print('s_list6 = ', s_list6)

TypeError: 'list' object is not callable