In [1]:
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}
capital_dic['Korea']
capital_dic['China']
capital_dic['USA']

'Washington DC'

In [14]:
fruits_dic = {'apple':5000, 'banana':4000, 'grape':5300, 'melon':6500}
print('apple의 가격은 %d원 입니다.' % fruits_dic['apple'])
print('banana의 가격은 %d원 입니다.' % fruits_dic['banana'])
print('grape의 가격은 %d원 입니다.' % fruits_dic['grape'])
print('melon의 가격은 %d원 입니다.' % fruits_dic['melon'])

apple의 가격은 5000원 입니다.
banana의 가격은 4000원 입니다.
grape의 가격은 5300원 입니다.
melon의 가격은 6500원 입니다.

In [16]:
person = {'이름':'홍길동', '나이':26, '몸무게':82, '특기':'분신술'}

person['아버지'] = '홍판서'
person

del person['나이']
person

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [19]:
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}
'Korea' in capital_dic

'China' in capital_dic

'Indonesia' in capital_dic

'Beijing' in capital_dic

False

In [7]:
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}
fruits_dic.keys()

fruits_dic.values()

fruits_dic.pop('apple')
fruits_dic

fruits_dic.clear()
fruits_dic

dict_keys(['apple', 'melon', 'banana', 'orange'])

In [ ]:
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}

list = list(fruits_dic.keys())
print(list)

list_1 = list(fruits_dic.values())
print(list_1)

print('fruits_dic 딕셔너리의 항목의 개수 : ', len(fruits_dic))

if 'apple' in fruits_dic:
    print('apple is in fruits_dic')
else:
    print('apple is not in fruits_dic')
    
if 'mango' in fruits_dic:
    print('mango is in fruits_dic')
else:
    print('mango is not in fruits_dic')

In [21]:
the_day = (1919, 3, 1)
year, month, day = the_day
print('{}년 {}월 {}일은 삼일절입니다.'.format(year, month, day))

1919년 3월 1일은 삼일절입니다.

In [22]:
tuple = (10 , 20, 30)
c, b, a = tuple
print('a = ', a)
print('b = ', b)
print('c = ', c)

a =  30
b =  20
c =  10

In [23]:
person = ('홍길동', 2019001, 179)
person[1] = 2019003

TypeError: 'tuple' object does not support item assignment

In [ ]:
person = ('홍길동', 2019001, 179)
list = list(person)
list[1] = 2020003
person_1 = tuple(list)
print('학번 변동 후 person = ', person_1)

In [28]:
lst = ['apple', 'mango', 'banana']
s1 = set(lst)
print('s1 = ',s1)

greet = 'Good afternoon'
s2 = set(greet)
print('s2 = ',s2)

s1 =  {'mango', 'banana', 'apple'}
s2 =  {'r', 'd', 'f', 'e', 'n', ' ', 'a', 't', 'G', 'o'}

In [30]:
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False